<a href="https://colab.research.google.com/github/MeldaBarrazaVirgilio/CCDProject/blob/main/Python_Lesson_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LESSON 1

In [ ]:
x =  2 + 2

x += 5
x

9

LESSON 3

In [ ]:
if x == 0:
  z = None
  else:
    z=y/x

SyntaxError: invalid syntax (<ipython-input-12-599328606ebb>, line 3)

In [1]:
x=1
if x==2:
    print("X is 2")

In [10]:
(2>1), (2<1), (type(2>1))

(True, False, bool)

In [15]:
(True or 15), (15 or True), (True == 15), ((True or 15) == (15 or True))

(True, 15, False, False, 15)

In [18]:
(True and 15), (15 and True), (15 == True), ((True and 15) == (15 and True))

(15, True, False, False)

In [19]:
(2 < 3) and (3 < 6)

True

In [22]:
True == True, (2 < 3) == (3 < 6)

(True, True)

In [25]:
True and not True, (2 < 3) and not (3 < 6)

(False, False)

In [26]:
not((2 < 3) and not (3 < 6))

True

In [28]:
bool("0"), bool(0) < bool(-1)

(True, True)

In [29]:
if type(x) == int or type(x) == float:
    if x != 0:
       print(1/x)
    else:
       print("Cannot divide by zero")
else:
    print("x must be a number")

1.0

In [30]:
if type(x) == int or type(x) == float and x != 0:
    print(1/x)
elif type(x) == int or type(x) == float:
    print("Cannot divide by zero")
else:
    print("x must be a number")

1.0

In [31]:
if type(x) != int and type(x) != float:
    print("x must be a number")
elif x == 0 :
    print("Cannot divide by zero")
else:
    print(1/x)

1.0

In [35]:
school = "Sacred Heart"
if school == "Fairfield":
    mascot = "Stags"
else:
    mascot = "Pioneers"
print ("Go " + mascot + "!")

Go Pioneers!

In [36]:
# Conditional #3

school = "Sacred Heart"
print("Go " + ("Stags" if school else "Pioneers") + "!")

Go Stags!

In [37]:
if x !=0 and y/x > 1:
    print("Warning! y/x > 1")

NameError: name 'y' is not defined

LESSON 4

In [1]:
import math
print(math.pi)

import random
print(random.random())
print(random.random())

3.141592653589793
0.02032494969192633
0.4775448791987357

In [2]:
def go_team(school):
    if school == "Fairfield":
        return "Go Stags!"
    else:
        return "Go home!"

print(go_team("Marist"))
print(go_team("Fairfield"))
print(go_team)

Go home!
Go Stags!
<function go_team at 0x795d202777f0>

In [5]:
def double_value(x):
  return x*2

double_value(1+1)

4

In [7]:
def go_team(sport, school="Fairfield", gender_modifier=""):
    if school != "Fairfield":
        return "Go home!"

    gender_modifier_padded = gender_modifier + " " if gender_modifier else ""

    return "Go "+ gender_modifier_padded + "Stags " + sport +"!"

print(go_team("Tennis", school="Marist"))
print(go_team("Lacrosse", gender_modifier="Lady"))
print(go_team("Tennis","Fairfield"))
print(go_team("Basketball", gender_modifier="Lady", school = "Fairfield"))
print(go_team("Basketball"))
print(go_team())   # Error because sport is not optional

Go home!
Go Lady Stags Lacrosse!
Go Stags Tennis!
Go Lady Stags Basketball!
Go Stags Basketball!

TypeError: go_team() missing 1 required positional argument: 'sport'

In [8]:
def print_go_team(sport, school="Fairfield", gender_modifier=""):
    print(go_team(sport,school,gender_modifier))

print_go_team("Tennis")
print("-----")
print(print_go_team("Tennis"))
print("-----")
print(type(print_go_team("Tennis")))

Go Stags Tennis!
-----
Go Stags Tennis!
None
-----
Go Stags Tennis!
<class 'NoneType'>

In [9]:
type(print('Hi'))

Hi

NoneType

In [10]:
3/4*4+2

5.0